/*
  style.css
  Feel free to change any of this CSS for your own purposes but don't waste time!
*/

/* Using font-size: larger to make things pop. Feel free to change. */
body {
    background-color:rgb(34, 228, 228);
    margin: 20px;
    font-size: larger;
}

/* Make the font a bit bigger on buttons and input boxes */
button, input {
    font-size: large;
}

/* Align the geometry shapes with the title a little better */
.heading_img {
    vertical-align: auto;
}

/* Rounding and Quadratics input number boxes. Add class="short_number" to your input boxes */
.short_number {
    width: 50px;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: left;
    background: linear-gradient(to right, #666363 0, white 10%, #666363 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 3s linear infinite;
    background-color: green;
    border: 1px;
  }
  
  @keyframes  animate {
    0% {
      background-position: 0;
    }
    50% {
      background-position: 470px;
    }
    100% {
      background-position: 1300px;
    }
  }